.heading {
    margin-top: 0;    
    font-weight: 600;
    font-size: 48px;
    width: 571px;
    color: #f7f7f7;
  }
  @media (max-width: 768px) {
  .heading {
    width: 300px;  
    font-size: 24px;
  }
  }
