.container {
    max-width: 1312px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    margin-top: 56px;
    justify-content: center;
    margin-bottom: 80px;
}
.containerFeature {
    border-radius: 10px;
    width: 606px;    
    background-color: #f7f7f7;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;    
}

.feature {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 44px 52px;
}
.image {
    max-width: 140px;
    max-height: 44px;
    border-radius: 50px;
    padding:  12px 18px;
    background-color: #f2f4f7;
    mix-blend-mode: multiply;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #101828;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.detals {
    max-width: 630px;
    min-height: 224px;
    margin: 0 52px 44px 52px;
}
.headerDetals {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    margin-bottom: 48px;
}

.detalsList {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #101828;
}
.detalsLeft {
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.detalsRight {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: end;

}
.ul {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    color: #101828;
    display: flex;
    flex-direction: column;
    gap: 16px;
}