.containerFeature {
    border-radius: 10px;
    width: 606px;
    height: 660px;
    background-color: #f7f7f7;
    margin-top: 20px;
    
}
.container {
    max-width: 1312px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
}